# IDE Configs
/.vscode

#Build files
/**/*.o
/**/*.a
/**/*.dll
/**/*.exe
build/**/*

#Media files
/**/*.png
/**/*.jpg
/**/*.fbx
/**/*.obj
/**/*.mtl
/**/*.txt
/**/*.aseprite
/**/*.dae
/**/*.gltf 
/**/*.blend*
